{%extends 'todoapp/base.html' %}

{% block body_block %}
    <h2 class="hea" style="font-size: 50px; color: aqua;">Todo {% now "" %}</h2>

    {% for task in task_list %}
        {% if task.user == user  %}
            {% if task.status == False %}
                <h2>{{task.name}}</h2>
            {% endif %}
            
          
        {% endif %}
        

    {%endfor%}

    <a href="{% url 'todoapp:task_create'%}"><button class="btn btn-primary">ADD TASK</button></a>



  
{% endblock body_block %}
